table {
  display: inline-block !important;
  overflow-x: scroll !important;
}
.book .book-body .page-wrapper .page-inner {
  max-width: 95% !important;
}
.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.caution {
  background-image: url("images/caution.png");
}