table {
  display: inline-block !important;
  overflow-x: scroll !important;
}
/* change scroll bar on tables */
table::-webkit-scrollbar {
  height: 8px;  /* Height for the horizontal scrollbar */
}
table::-webkit-scrollbar-track {
  background: #ffffff;  /* Background of scrollbar track */
}
table::-webkit-scrollbar-thumb {
  background-color: #1e74ac;  /* Scrollbar color */
  border-radius: 10px;
  border: 1px solid #196292;  /* Add a border to the scrollbar */
}
table {
  scrollbar-width: thin;       /* Thin scrollbar for Firefox */
  scrollbar-color: #1e74ac #f1f1f1;  /* Scrollbar color */
}
.book .book-body .page-wrapper .page-inner {
  max-width: 80% !important;
}
.book .book-summary ul.summary li span {
  opacity: 1 !important;
  color: #1e74ac;
  font-size: 16px !important;
}
.callbox-blue {
  background: lightcyan;
  border-style: none none none solid;
  border-width: 5px;
  border-color: #0c3f61;
  padding-left: 10px;
  margin-left: 10px;
  font-weight: bold;  
}
.callbox-caution {
  background: lightyellow;
  border-style: none none none solid;
  border-width: 5px;
  border-color: #efaf36;
  padding-left: 70px;
}
.caution{
  background-image: url("images/icons/triangle-exclamation-solid-yellow.png");
  background-size: 50px 50px;
  background-position-y: center;
  background-position-x: 5px;
  background-repeat: no-repeat;
}
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.btn { /* for download buttons */
  border-style: solid; 
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #17726a;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.marker-green {
  color: green;
}

.marker-blue {
  color: blue;
}
.marker-orange {
  color: orange;
}