/* css styles */
a {
    color: #2780e3;
    text-decoration: none;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
}
.navbar-logo {
    max-height: 35px;
    width: auto;
    padding-right: 16px;
}