.form-para {
      /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;*/
      font-weight: 700;
      line-height: 1.2;
      color: #2780e3;
    }
    .form-prev {
      /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;*/
      font-size: 1em;
      line-height: 1;
      margin-top: 0px;
      font-style: italic;
      color: #C8C8C8;
    }
    .form-explanation {
      /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;*/
      font-size: 1em;
      line-height: 1;
      margin-top: 0px;
      color: #C8C8C8;
    }
    .form-box-stitle {
      /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;*/
      font-weight: 700;
      font-size: 1.5em;
      line-height: 1.2;
      color: #FFFFFF;
    }
    .form-box-title {
      /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;*/
      font-weight: 700;
      line-height: 1;
      color: #2780e3;
    }
    .form-box-other {
      /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;*/
      font-weight: 700;
      line-height: 1;
      margin-top: 18px;
      font-size: 1.2em;
      color: #949494;
    }
    .form-box-container {
      display: flex;
    }
    .form-box-color {
      border-radius: 5px;
      background: linear-gradient(90deg, #0076B1 0%, #04A3F2 100%);
      padding: 20px;
      width: 250px;
      height: auto;
    }
    .form-box-color-yel {
      border-radius: 5px;
      background: linear-gradient(90deg, #C88E00 0%, #FDBB1A 100%);
      padding: 20px;
      width: 250px;
      height: auto;
    }
    .form-box-color-agg {
      border-radius: 5px;
      background: linear-gradient(90deg, #008E6E 0%, #4EC7AC 100%);
      padding: 20px;
      width: 250px;
      height: auto;
    }
    .form-box-gray {
      border-radius: 5px;
      border: 1.5px solid #D6D6D6;
      padding: 20px;
      width: 100%;
      height: auto;
      margin-left: 10px;  /* Magic! */
    }
    button.option-button {
      width: auto;
      padding: .5em .75em;
      border: 1px solid #bdbdbd;
      border-radius: .2em;
      background: #fff;
      margin-top: 5px;
      margin-bottom: 5px;
      color: #37474f;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 1px;
      white-space: nowrap;
      text-transform: uppercase;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: .1s ease-in-out
    }
    svg.aa-SubmitIcon {
      fill: #545555;
    }
    button#rest-btn {
      width: auto;
      padding: .5em .75em;
      border: 1px solid #bdbdbd;
      border-radius: .2em;
      background: #fff;
      margin-top: 5px;
      margin-bottom: 5px;
      color: #37474f;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 1px;
      white-space: nowrap;
      text-transform: uppercase;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      transition: .1s ease-in-out
    }
    svg {
      pointer-events: none;
    }
a {
    color: #2780e3;
    text-decoration: none;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
}
.navbar-logo {
    max-height: 35px;
    width: auto;
    padding-right: 16px;
}